nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #111;
    border-radius: 5px;
    margin: 15px auto;
}