#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.content {
  margin: 100px
}

.post {
    text-align: left;
    margin: 5px 0;
}

.error {
    color: #e66666;
    font-weight: bolder;
}